/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
#seccion-contacto {
	
	background-color: #1B2A4E;
min-height: 500px;
}
footer{
min-height: 90px;
background-color: #1B2A4E;
color:#FFF;
}


